/* General styling for forms */
.formBoxInput {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 5px !important;
}

.formBoxInput:focus-visible {
  outline: none;
}

.formBoxBtn {
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 5px 5px !important;
  background-color: var(--ifm-hover-overlay) !important;
  color: var(--ifm-content-color) !important;
}

.formBoxBtn:disabled {
  opacity: 1;
  color: rgba(var(--ifm-color-content-rgb), 0.6) !important;
}

@media (min-width: 997px) {
  .formBoxBtn {
    border-left: none;
    border-radius: 0 5px 5px 0 !important;
    padding-right: 1rem;
  }

  .formBoxInput {
    border-right: none;
    border-radius: 5px 0 0 5px !important;
  }
}

@media (max-width: 996px) {
  .formBoxInput {
    width: 20rem;
  }
}
