.landingImage {
  filter: drop-shadow(8px 8px 9px rgba(0, 0, 0, 0.3));
  width: 60vw;
}

[data-theme="dark"] .landingImage {
  filter: none;
}

.containerMain {
  display: flex;
  padding: 2rem 2rem;
}

.getStartedBtn::after {
  display: inline-block;
  content: "→";
  padding-left: 0.2rem;
}

@media (max-width: 996px) {
  .landingImage {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .containerMain {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .landingImage {
    width: 80vw;
  }
}
