.landingImage {
  width: 60vw;
}

.containerMain {
  display: flex;
  padding: 2rem 2rem;
}

.getStartedBtn::after {
  display: inline-block;
  content: "→";
  padding-left: 0.2rem;
}

@media (max-width: 996px) {
  .landingImage {
    margin-top: 60px !important;

    margin-bottom: 0 !important;
  }
  .containerMain {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

@media (max-width: 640px) {
  .landingImage {
    width: 80vw !important;
  }
}
