:root {
  --doc-sidebar-width: 280px;
  --doc-sidebar-hidden-width: 30px;
}

.docSidebarContainer {
  display: none;
}

@media (min-width: 997px) {
  .docSidebarContainer {
    display: block;
    width: var(--doc-sidebar-width);
    border-right: 1px solid var(--ifm-toc-border-color);
    will-change: width;
    transition: width var(--ifm-transition-fast) ease;
    clip-path: inset(0);
  }

  .docSidebarContainerHidden {
    width: var(--doc-sidebar-hidden-width);
    cursor: pointer;
  }

  .sidebarViewport {
    top: 0;
    position: sticky;
    height: 100vh;
  }
}
