openapi: 3.0.3
info:
  title: Tableland Validator - OpenAPI 3.0
  description: |-
    In Tableland, Validators are the execution unit/actors of the protocol.
    They have the following responsibilities:
    - Listen to on-chain events to materialize Tableland-compliant SQL queries in a database engine (currently, SQLite by default).
    - Serve read-queries (e.g: SELECT * FROM foo_69_1) to the external world.
    - Serve state queries (e.g. list tables, get receipts, etc) to the external world.

    In the 1.0.0 release of the Tableland Validator API, we've switched to a design first approach!
    You can now help us improve the API whether it's by making changes to the definition itself or to the code.
    That way, with time, we can improve the API in general, and expose some of the new features in OAS3.

  termsOfService: http://docs.tableland.xyz
  contact:
    name: core devs
    email: carson@textile.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Tableland docs
  url: http://docs.tableland.xyz
servers:
  - url: https://testnet.tableland.xyz/api/v1
tags:
  - name: query
    description: Query the Tableland network
    externalDocs:
      description: Find out more about queries
      url: http://docs.tableland.xyz
  - name: receipt
    description: Get information about transaction progress
    externalDocs:
      description: Find out more about receipts
      url: http://docs.tableland.xyz
  - name: tables
    description: Access to table information
    externalDocs:
      description: Find out more about tables
      url: http://docs.tableland.xyz
paths:
  /health:
    get:
      tags:
        - health
      summary: Returns OK if the validator considers it's healty.
      description: Returns OK if the validator considers it's healthy.
      operationId: health
      responses:
        "200":
          description: The validator is healthy.
  /version:
    get:
      tags:
        - version
      summary: Returns version information about the validator daemon.
      description: Returns version information about the validator.
      operationId: version
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"
  /query:
    get:
      tags:
        - query
      summary: Query the Tableland network
      description: Returns the results of a SQL query against the Tabeland network
      operationId: queryFromQuery
      parameters:
        - name: statement
          in: query
          description: The SQL query statement
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: >
            The requested response format:
             * `objects` - Returns the query results as a JSON array of JSON objects.
             * `table` - Return the query results as a JSON object with columns and rows properties.
          required: false
          schema:
            type: string
            enum:
              - objects
              - table
            default: "objects"
        - name: extract
          in: query
          description: Whether or not to extract the JSON object from the single property of the surrounding JSON object.
          required: false
          schema:
            type: boolean
            default: false
        - name: unwrap
          in: query
          description: Whether or not to unwrap the returned JSON objects from their surrounding array.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid query/statement value
  /receipt/{chainId}/{transactionHash}:
    get:
      tags:
        - receipt
      summary: Query the Tableland network for transaction status
      description: Returns the status of a given transaction receipt by hash
      operationId: receiptByTransactionnHash
      parameters:
        - name: chainId
          in: path
          description: The parent chain to target
          required: true
          schema:
            type: integer
            format: int32
        - name: transactionHash
          in: path
          description: The transaction hash to request
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionReceipt"
        "400":
          description: Invalid query/statement value
  /tables/{chainId}/{tableId}:
    get:
      tags:
        - tables
      summary: Get information about a table
      description: Returns information about a single table, including schema information
      operationId: getTableById
      parameters:
        - name: chainId
          in: path
          description: The parent chain to target
          required: true
          schema:
            type: integer
            format: int32
        - name: tableId
          in: path
          description: Table identifier in the Registry.
          required: true
          schema:
            type: integer
            format: int64

      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
        "400":
          description: Invalid name supplied
        "404":
          description: Table not found
components:
  schemas:
    Table:
      type: object
      properties:
        name:
          type: string
          example: healthbot_5_1
        external_url:
          type: string
          example: https://testnet.tableland.network/tables/healthbot_5_1
        image:
          type: string
          example: https://render.tableland.xyz/healthbot_5_1
        attributes:
          type: array
          items:
            type: "object"
            properties:
              display_type:
                type: "string"
                description: "The display type for marketplaces"
              trait_type:
                type: "string"
                description: "The trait type for marketplaces"
              value:
                description: "The value of the property"
                type: object
                oneOf:
                  - type: string
                  - type: number
                  - type: integer
                  - type: boolean
                  - type: object
          example:
            {
              "display_type": "date",
              "trait_type": "created",
              "value": 1657113720,
            }
        schema:
          $ref: "#/components/schemas/Schema"
    TransactionReceipt:
      type: object
      properties:
        tableId:
          type: string
          example: healthbot_5_1
        transactionHash:
          type: string
          example: "0x400508d7cc035b14cc53f64393a8dafcc55f66ad8f9b44d626744157337e2098"
        blockNumber:
          type: integer
          format: int64
          example: 1
        chainId:
          type: integer
          format: int32
          example: 80001
    Info:
      type: object
      properties:
        owner:
          type: string
          example: "0xbAb12215Ed94713A290e0c618fa8177fAb5eFd2D"
        name:
          type: string
          example: "healthbot_5_1"
        structure:
          type: string
          example: "799dcf5ed5cfeb9e221500db95531ab9197224f8fc9cb9452ce30e4b5cea80d1"
    Schema:
      type: object
      properties:
        columns:
          type: array
          items:
            $ref: "#/components/schemas/Column"
        tableConstraints:
          type: array
          items:
            type: string
          example: ["PRIMARY KEY (id)"]
    Column:
      type: object
      properties:
        name:
          type: string
          example: "id"
        type:
          type: string
          example: "integer"
        constraints:
          type: array
          items:
            type: string
          example: ["NOT NULL", "PRIMARY KEY", "UNIQUE"]
    VersionInfo:
      type: object
      properties:
        version:
          type: string
          example: 0
        gitCommit:
          type: string
          example: "79688910d4689dcc0991a0d8eb9d988200586d8f"
        gitBranch:
          type: string
          example: "foo/experimentalfeature"
        gitState:
          type: string
          example: "dirty"
        gitSummary:
          type: string
          example: "v1.2.3_dirty"
        buildDate:
          type: string
          example: "2022-11-29T16:28:04Z"
        binaryVersion:
          type: string
          example: "v1.0.1"
