.cardContainer {
  --ifm-link-hover-decoration: none;
  color: var(--ifm-color-content);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: box-shadow;
}

[data-theme="dark"] .cardContainer {
  border: transparent;
}

.cardContainer:hover {
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.01),
    0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.02);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 0.8rem;
}
